// Media 

// 1200

@media (max-width: 1199.98px) {

    .header_menu li a {
        font-size: 14px;
    }

    .intro_img {
        transform: translate(-50%, 8%);
    }

    .header_logo {
        width: 40%;
    }

    .header_menu {
        width: 60%;
    }
}

//  911

@media (max-width: 991.98px) {

    .burger {
        display: block;
    }

    .intro_img {
        display: none;
    }

    .tariff {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .load_img {
        display: none;
    }

    .load_section {
        display: flex;
        justify-content: center;
    }

    .load_content {
        padding: 0 100px;
        text-align: center;
        width: 100%;
    }

    .load_content_text {
        padding: 0;
    }

    .load {
        min-height: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about_item {
        text-align: center;
    }

    .about_content {
        align-items: center;
    }

    .about_title {
        margin-top: 40px;
    }

    .about_line {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .about {
        padding-bottom: 30px;
    }

    .header_menu li a {
        font-size: 13px;
    }
    
    .header_logo {
        width: 100%;
    }

    .header_menu {
        display: none;
    }

    .intro_headers {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

// 767

@media (max-width: 767.98px) {

    .header_menu {
        margin-top: 20px;
    }

    .do {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .best {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .best_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .best_section_2 {
        justify-content: center;
    }

    .intro_img {
        transform: translate(-50%, 25%);
    }

    .header_menu {
        width: 100%;
    }

    .client_section {
        padding: 25px;
        margin-bottom: 20px;
    }

    .ready_title {
        font-size: 33px;
    } 

    .ready_number {
        font-size: 65px;
    }

    .intro_adress {
        letter-spacing: 10px;
    }

    .intro_title {
        font-size: 60px;
    }

    .load_buttons {
        flex-direction: column;
        align-items: center;
    }

    .load_content {
        padding: 0;
    }

    .android {
        margin-bottom: 20px;
    }

}

// 575

@media (max-width: 575.98px) {

    .burger_menu li {
        margin-bottom: 35px;
    }

    .intro_title {
        font-size: 47px;
    }

    .intro_img {
        display: none;
    }

    .intro_adress {
        letter-spacing: 1px;
    }

    .best_subtitle {
        font-size: 40px;
    }

    .do_item {
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
    }

    .do_item_title {
        margin-top: 20px;
    }

    .do_content {
        margin: 0;
        text-align: center;
    }

    .client_subtitle {
        font-size: 40px;
    }

    .load_subtitle {
        font-size: 40px;
    }

    .do_subtitle {
        font-size: 40px;
    }

    .client_subtitle {
        margin-bottom: 50px;
    }

    .load_content_title {
        margin-top: 40px;
    }

    .ready {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ready_title {
        font-size: 27px;
    }

    .ready_number {
        font-size: 50px;
    }

    .intro_title {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .intro_subtitle {
        margin-top: 130px;
    }

    .header {
        text-align: left;
        justify-content: center;
        flex-direction: row;
    }
}

@media (max-height: 720.98px) {
    .intro_img {
        display: none;
    }
}